.container-board {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);

}

@media screen and (max-width: 520px) {
  .board {

    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
  }
}