.cell {
  background: #fbfdfd;
  border-radius: 12px;
  width: 8rem;
  height: 8rem;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(176, 192, 204, 0.2);
  font-size: 3rem;
  text-align: center;
  transition: 150ms background-color ease;
  cursor: pointer;

  &:hover {
    background: #f2f8f8;
  }

}

.hidden {
  opacity: 0 !important;
  transition: opacity 1s;
}

.revealed {
  /* visibility: visible !important; */
  opacity: 1 !important;
  transition: opacity .5s;
}

@media screen and (max-width: 568px) {
  .cell {
    width: 3rem;
    height: 3rem;
  }
}